.aqua {
    color: aqua;
}
.white {
    color: white;
}
.black {
    color: black;
}
h1 {
    background-color: black;
}
h2 {
    background-color: rebeccapurple;
    text-align: center;
}
h3 {
    background-color: lightskyblue;
    text-align: right;
}